# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: AOC

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version-file: ".python-version"
    - name: Install uv
      uses: astral-sh/setup-uv@v7
    - name: Install the project
      run: uv sync --locked --all-extras --dev
    - name: Run lint
      run: uv run ruff check
    - name: Run tests
      run: uv run pytest --cov=./ --cov-report=xml
    - name: Upload coverage to Coveralls
      uses: coverallsapp/github-action@v2
      with:
        format: cobertura
        file: coverage.xml